form(method='post', action='/events', id="event-form")
  h2 New Event
  label(for='title') title
  input(type='text', name='title', id='title')
  label(for='date') date
  input(type='text', name='date', id='date', class="datepicker")
  br
  br
  button Submit