form(method='post', action='/events', id="event-form")
  input(type='hidden', name='volunteers', id="volunteer_ids")
  h2 New Event
  label(for='title') title
  input(type='text', name='title', id='title')
  label(for='date') date
  div.hint YYYY-MM-DD HH:MM
  input(type='text', name='date', id='date', class="datepicker")
  label Assigned Volunteers
  div.hint drag volunteers here
  div(id="assigned-volunteers")
  br
  button Submit
  button(id="cancel") Cancel