div#volunteer
  div.content
    #volunteer-list
      !=partial('volunteers/index')
    #volunteer-info
      !=partial('volunteers/form')
  
  div.bar 
    a(href='/', id='show-volunteers') volunteers
    div.separator &nbsp;
    a(href='/', id='show-volunteer-new')  new


div#event
  div.content
    p what
  
  div.bar
    a(href='/', id='show-events') volunteer events
    div.separator &nbsp;
    a(href='/', id='show-event-new') create a new event

div.clear