div#volunteer
  div.content
    #volunteer-info
      !=partial('volunteers/form')
  
  div.bar 
    a(href='/') volunteers
    div.separator &nbsp;
    a(href='/')  new


div#event
  div.content
    p what
  
  div.bar
    a(href='/') volunteer events
    div.separator &nbsp;
    a(href='/') create a new event

div.clear