div#volunteer
  div.content
    p
      label what
  
  div.bar 
    a volunteers
    div.separator &nbsp;
    a new

div#event
  div.content
    p what
  
  div.bar
    a volunteer events
    div.separator &nbsp;
    a create a new volunteer event

div.clear