form#volunteer-form
  h2 New Volunteer
  label(for='first_name') first name
  input(type='text', name='first_name', id='first_name')
  label(for='last_name') last name
  input(type='text', name='last_name', id='last_name')
  label(for='phone') phone number
  input(type='text', name='phone', id='phone')
  br
  br
  button Submit